/* GLOBAL RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* outline: red 1px solid; */
}

/* ================= HEADER ================= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 32px;
    background-color: #004d08;
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.logo-text {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
}

.header > .header-middle{
    display: flex;
    flex: 1;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-icon img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.logout-btn, .edit-btn {
    padding: 8px 14px;
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #006937;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.2s;
    white-space: nowrap;
}

.home-btn, .search-btn {
    font-size: 16px;
    padding: 8px 14px;
    background-color: transparent; 
    border: none;                 
    color: #fff;                 
    padding: 10px 20px;            
    cursor: pointer;               
    font-weight: 700;
    transition: 0.2s;
}

.logout-btn:hover, .edit-btn:hover, .header-middle {
    transform: translateY(-1px);
}

/*----------- Profile Images -----------*/
.profile-image-head{
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    background-image: url('../../images/dlsu.png');
    box-shadow: 0px 1px 10px 1px #9e9a9a;
}

.profile-main-icon {
    margin-left: 12px;
    margin-bottom: -90px;
}

.profile-edit-btn {
    margin-left: auto;
    margin-right: 24px;
    margin-bottom: 24px;
}

#profile-main-icon{
    display: flex;
    border-radius: 100%;
    width: 125px;   
    height: 125px;
    object-fit: cover;
    border: 6px solid white;
}

/* ----------- Profile Info section -----------*/
.profile-content {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: left;
    margin-left: 170px;
    margin-top: 5px;
}

.profile-name {
    font-size: 32px;
    font-weight: bold;
}

.profile-bio {
    color:#474747
}


/* ----------- Posts Section -----------*/

.post-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding-bottom: 24px;
    justify-content: left;
}

.posts-section{
    margin-top: 40px;
    margin-left: 20px;      
    padding: 0px;          
    
}

.post {
    background: #ffffff;
    padding: 12px;
    border: 1px solid #006937;
    border-radius: 28px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 280px;
    height: 480px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.post-text{
    text-align: center;
    word-wrap: break-word;
}

.post-cat-name {
    margin-bottom: 20px;
}

.post-review {
    font-weight: bold;
    color: rgb(119, 115, 115);
}

.post-price {
    color: rgb(121, 153, 121);
}