/* main.css - Archer's Freelance Hub Contactpage Styles */
/* Author: UI/UX Designer */
/* Version: 1.0 */

@import url('base.css');
@import url('header.css');
@import url('body.css');
@import url('aboutus.css');
@import url('statistics.css');
@import url('projectdescription.css');
@import url('team.css');
@import url('footer.css');