/*STATISTICS */
.statistics-section {
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-100);

}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.stat-item .stat-header {
    font-size: 50px;
    color: var(--green-light);
}

.stat-item p {
    margin: 0 auto;
    text-align: center;
    color: var(--gray-500);
}