/* RESET */
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    height: 100vh;
    background: url("../../images/login-bg-img.png") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* OVERLAY */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 30, 10, 0.6);
    backdrop-filter: blur(4px);
}

/* CONTAINER */
.login-container {
    position: relative;
    z-index: 2;
}

/* CARD */
.login-card {
    width: 420px;
    background: #ffffff;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* LOGO */
.logo-section img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.logo-section h1 {
    font-size: 20px;
    margin: 10px 0 4px 0;
    color: #004d08;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
}

/* FORM */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group label {
    font-size: 13px;
    margin-bottom: 6px;
    color: #444;
}

.input-group input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #006937;
    box-shadow: 0 0 0 3px rgba(0, 105, 55, 0.15);
    outline: none;
}

/* PASSWORD WRAPPER */
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 12px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    color: #006937;
    user-select: none;
    transition: 0.2s;
}

.toggle-password:hover {
    text-decoration: underline;
}


/* BUTTON */
.login-btn {
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #006937;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #01924c;
    transform: translateY(-2px);
}

/* FOOTER */
.form-footer {
    margin-top: 20px;
}

.form-footer a {
    font-size: 13px;
    color: #006937;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 25px;
    font-size: 12px;
    color: #999;
}
